[Unit]
Description=spaceprinter
Requires=network.target

[Service]
Type=simple
TimeoutStartSec=10s
Restart=always
RestartSec=10
WorkingDirectory=/home/printer/.spaceprinter/app/
ExecStart=/home/printer/.spaceprinter/app/spaceprinter
LimitNOFILE=500000
LimitNPROC=500000
User=printer
Group=printer

[Install]
WantedBy=default.target